@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: hsl(209, 33%, 32%);
	--background-color: #ffffff;
	--dark-color: #020202;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */

/*logo*/
.container-logo {
	display: flex;
	align-items: center;
	gap: 2rem;
	color: white;
}
.container-logo a {
	font-size: 3.3rem;
}
.container-logo img {
	width: 5rem;
	height: 5rem;
}
.container-logo p {
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #ffffff;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
	 url('img/shutterstock_1159844434-2048x1365.jpg');
	height: 60rem; 
	background-size: cover;
	background-position: center;
}

.content-banner {
	max-width: 90rem;
  margin:0;
  padding: 20rem 0;
  text-align: left;
  padding-left: 2rem;
}

.content-banner p {
	color:white;
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 500;
}

.content-banner h2 {
	font-family:'Times New Roman', Times, serif;
	color: #ffffff;
	font-size: 70px;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}


/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}
/*menus*/
.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}



.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.iot-section {
	text-align: center;
	flex-direction: column;
	gap: 0.1rem;
	padding: 50px 0;
}
.fondo-iot {
  background-color: #f4f4f4;
  padding: 50px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.iot-title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.iot-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.iot-image {
  max-width: 500px;
  height: auto;
  display: block;
  padding-left: 20px;
  margin-top: 50px;
  object-fit: contain;
}

.iot-text-i {
  max-width: 550px;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
}
.iot-text {
  max-width: 550px;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
  line-height: 1.8;
}

/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 20px;
}
.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #ffffff;
	border-radius: 1rem;
	padding: 20px;

}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
	padding-left: 5px;
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #000000;
	font-weight: 500;
	
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.top-categories {
	display: flex;
	flex-direction: column;
	gap: 7rem;
	margin-bottom: 3rem;
}
.top-categories h1 {
	text-align: center;
	font-size: 5rem;
	font-weight: 800;
	font-family: 'Times New Roman', Times, serif;
}

.container-categories {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
}

.category-moca {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/22758_79.png');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.category-capuchino {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/ehealth.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.category-expreso {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/221f1801-thumb.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.category-agriculture {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/IRTNTR75695_cover_134616.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}
.category-ciudad {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/ciudades-inteligentes.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.category-transport {
	background-image: linear-gradient(#00000080, #00000080),
		url('img/logistica-transporte-800x450.width-640.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-category p {
	font-size: 2.5rem;
	color: #fff;
	text-transform: capitalize;
	position: relative;
}

.card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translate(-50%, 50%);
}

.card-category span {
	font-size: 1.6rem;
	color: #fff;
	cursor: pointer;
}

.card-category span:hover {
	color: var(--primary-color);
}

/* ********************************** */

.sobre-nosotros {
    background: #f2f2f2; /* Color claro de fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 30px 0 60px 0;
}

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;      
    padding-left: 40px;        
}



.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}
.sobre-nosotros .titulo{
	text-align: center;
	font-size: 5rem;
	font-weight: 600;
	margin-bottom: 40px;
	font-family: 'Times New Roman', Times, serif;
}

.contenido-textos h3{
    margin-bottom: 15px;
	font-size: 2.2rem;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

.contenido-textos h3 span{
    background: #2b2577;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
	font-size: 2rem;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
	font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}
.imagen-about-us {
  width: 450px;          /* achicamos el ancho, puedes ajustar este valor */
  height: auto;          /* mantiene la proporción original */
  object-fit: contain;   /* asegura que la imagen no se recorte ni deforme */
}



/*contenedor*/
.container-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 1.5rem;
  max-width: 1200px;
  margin: 2rem auto;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.container-colum {
  padding: 1rem;
  border: none; 
}

.container-colum h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.container-colum p {
  font-size: 1rem;
  margin: 0;
  color: #333;
}
h2 {
	font-size: 100%;
}

.footer {
	display: flex;
	flex-direction: row;
	
}
.redes {
	align-items: center;
	width: 100%;
	margin-left: 0.4%;
	
	
}
.redes img {
	margin: 10px;
	border-radius: 10px;
	
}
.footers {
	margin-left: 42%;
}
span {
	color: black;
	font-size: medium;
	font-style: normal;
	padding: 17px;
}
.info {
	display: flex;
	flex-direction: row;
	padding: 20px;
}
.infol h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.infol {
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgb(109, 106, 106);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  padding: 2rem; /* Agrega espacio interno */
  background-color: #fff;
}
.infor {
  width: 40%;
  margin: 0 auto;
  border: 3px solid rgb(109, 106, 106);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  padding: 2rem; /* Agrega espacio interno */
  background-color: #fff;
}
.infor h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif;
}
.subi {
	display: flex;
	flex-direction: column;
	width: 80%;
	text-align: center;
	margin-left: 10%;
}
.sub2 {
	display: flex;
	flex-direction: row;
	padding: 5px;
}
.subil {
  width: 220px;
  margin-left: -20px;
}
.subir {
	font-weight: bold;
	font-size: 1.5rem;
	width: 70%;
	background: #03aef3;
   background-image: linear-gradient(117deg, #309ac4, #FFFFFF);
	border-radius: 10px;
	padding: 5px;
}
.subir h4 {
	font-size: 1.8rem;
	margin: 0;
	padding: 5px;
	color: #000000;
	text-align: center;
}
/*carrusel*/

.fondo-carrusel {
  background-color: #f2f2f2;
  padding: 3rem 0;           
  width: 100%;              
}

.carousel-inner {
  height: 400px;
}

.carousel-item img {
	height: 400px;
    object-fit: unset;
}


/*  Our team */

.about-services{
    background: #f2f2f2;
	padding: 0 30px;
    padding-bottom: 30px;
}
.about-services h2{
	text-align: center;
	font-size: 5rem;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: 'Times New Roman', Times, serif;
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
  width: 300px;    
  height: 180px;   
  object-fit: cover;
}

.servicio-ind h3{
    margin: 10px 0;
	font-size: 2rem;
	font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.servicio-ind p{
    font-weight: 300;
	font-size: 1.3rem;
	font-weight: bold;
    text-align: justify;
}
/* ********************************** */
/*            SECCION VIDEO           */
/* ********************************** */
.seccion-video-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap; /* para adaptarse en pantallas pequeñas */
}

.video-contenedor iframe {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.texto-contenedor {
  text-align: center;
  max-width: 400px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
}
.seccion-video-texto h2 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 4rem;
  color: #333;
  line-height: 1.6;
}

